/* VARIABLES */
:root {
	--primary-color-100: #fff;
	--primary-color-400: #555;
	--primary-color-500: #ddd;
	--primary-color-600: #61dafb;
	--background-color-100: #d3f5ff;
	--primary-color-700: #012d5f;
	--primary-color-900: #6f00ff;
	--secondary-color-900: rgba(255, 0, 0, 0.635);
	--box-shadow-500: 1px 1px 10px -2px #5a5a5a;
}
html {
	scroll-behavior: smooth;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
img {
	width: 100%;
	height: auto;
	display: block;
}
a {
	text-decoration: none;
}
a:active,
a:visited {
	color: var(--primary-color-700);
}
button {
	cursor: pointer;
}
body {
	width: 100vw;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
