.photo-card-container {
	position: relative;
	width: 100%;
	margin: 0 auto;
	/* margin-bottom: 15%; */
	display: grid;
	grid-template-columns: 1fr;
	gap: 2rem;
}
@media (min-width: 800px) {
	.photo-card-container {
		grid-template-columns: 1fr 1fr;
	}
}
@media (min-width: 1200px) {
	.photo-card-container {
		grid-template-columns: 1fr 1fr 1fr;
	}
}
