.cocktails {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.cocktails-container {
	width: 80%;
	max-width: 1600px;
	margin: 4rem auto;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	gap: 4rem;
}
.not-found-text {
	margin-top: 3rem;
	font-size: 1.25rem;
	color: red;
}
@media (min-width: 800px) {
	.cocktails-container {
		width: 90%;
		grid-template-columns: 1fr 1fr;
	}
}
@media (min-width: 1200px) {
	.cocktails-container {
		width: 90%;
		grid-template-columns: 1fr 1fr 1fr;
	}
}
