.popup-container {
	top: 0;
	left: 0;
	position: absolute;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: scale(0);
	background-color: rgba(0, 0, 0, 0.9);
	animation: popup 0.5s linear forwards;
	z-index: 4;
}
.popup {
	width: 85%;
	max-width: 500px;
	padding: 4rem 1.5rem;
	padding-top: 3rem;
	background-color: var(--color-four-500);
	border-radius: var(--border-radius-200);
	box-shadow: var(--box-shadow-500);
	color: var(--color-light-100);
}
.input-and-btn-container {
	position: relative;
	display: flex;

	align-items: center;
}
.popup-label {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	margin-left: 0.5rem;
	font-size: clamp(0.725rem, 3vw, 1rem);
	color: var(--color-grey-300);
	transition: all 0.3s;
	cursor: text;
}
.resize {
	top: -1.35rem;
	margin: 0;
	font-size: 0.725rem;
	color: var(--color-light-100);
}
.popup-input {
	font-size: 1rem;
	letter-spacing: var(--spacing-100);
	width: 75%;
	height: 1.75rem;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border: transparent;
	padding-left: 0.35rem;
}
.popup-input:focus {
	outline: 2px solid var(--color-two-500);
}
.popup-btn {
	width: 25%;
	height: 1.75rem;
	font-size: 0.875rem;
	border: transparent;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: var(--secondary-color-500);
	color: var(--color-light-100);
	letter-spacing: var(--spacing-100);
	text-transform: uppercase;
}
.popup-btn.disabled {
	cursor: not-allowed;
}
.popup-close-btn {
	position: absolute;
	font-size: 1.25rem;
	top: 0;
	right: 0;
	margin: 1rem 1.5rem;
	cursor: pointer;
	transition: color 0.3s;
}
.popup-close-btn:hover {
	color: var(--color-alert);
}
.check-length {
	font-size: 0.75rem;
	margin-top: 0.35rem;
}
@keyframes popup {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}
