.navbar {
	width: 100vw;
	box-shadow: var(--box-shadow-100);
	z-index: 1;
}
.nav-center {
	margin: 0 auto;
	height: 6rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logo-text {
	font-size: 1.75rem;
	letter-spacing: 1px;
}
.logo-text-especial {
	color: var(--primary-color-500);
	font-weight: 700;
	border-bottom: 4px solid var(--primary-color-500);
}
.navlinks {
	display: flex;
	gap: 2rem;
	font-size: 1.5rem;
}
.navlink {
	transition: all 0.5s;
	border-bottom: 4px solid transparent;
}
.navlink-active {
	color: var(--primary-color-500);
	border-bottom: 4px solid var(--primary-color-500);
}
