.social-icons-container {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1.5rem;
}
.social-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.75rem;
	color: var(--color-one-500a);
	will-change: contents;
	transition: all 0.3s;
}
.social-icon:hover {
	transform: scale(1.2);
	color: var(--color-light-100);
}

/* js inserted classes */
.show-container {
	height: 3rem;
	padding-bottom: 1rem;
}

@media (min-width: 680px) {
	.social-icons-container {
		display: flex;
	}
}
